body {
    background: #252525;
  }
     .lab__header {
    margin: auto;
    width:100%;
    max-width: 1920px;
    height: 1072px;
    background-image: url("Foto/hero-bg.jpg.png");
    background-position: center;
    background-repeat: no-repeat;
     /* border: 2px solid red; */
       /* display: flex;
    flex-direction: column;
    align-self: center;
    align-items:center; */
    }
    .header--logo{
margin-top: 25%;
    }
    .header--head {
margin-top:100px ;     
font-size: 54px;
letter-spacing: 9px;
color: #ffffff;
font-weight: 700;
font-family: "Lato";
text-transform: uppercase;
    }
 
    .header--text {
        margin-top: 50px;
font-size: 15px;
letter-spacing: 1px;
line-height: 29px;
color: #ffffff;
font-weight: 400;
font-family: "Lato";

    }
    
    .header--scroll {
        margin-top: 245px;
    }
    @media (max-width: 720px) 
  {
    .lab__header {
        height: 800px;
    }
    .header--head {
        font-size: 34px;
        letter-spacing: 6px;
        } 
        .header--text {
            font-size: 12px;
            letter-spacing: 1px;
            line-height: 20px;  
        }
        .header--scroll {
            margin-top: 160px;
        }
}
    .lab__about {
        margin: auto;
        width:100%;
    max-width: 1920px;
        height: 630px;
        padding-top: 6%;
        background-color: #FFFFFF;
        /* display: flex;
    flex-direction: column;
    align-self: center;
    align-items:center;
    justify-content: center; */
    }
    .about {
        
       margin: auto;
        width: 80%;
        border: 2px solid #3c3c3c;
        /* display: flex;
    flex-direction: column;
    align-self: center;
    align-items:center; */
    }

    .about--head {
      
        width: 52%;
        font-size: 34px;
letter-spacing: 5px;
color: #3c3c3c;
font-weight: 700;
font-family: "Lato";
text-align: center;
background-color:#FFFFFF;
    }
    .about--text {
        width: 90%;
        padding: 30px 30px;
        font-size: 16px;
line-height: 24px;
color: #3c3c3c;
font-weight: 300;
font-family: "Lato";
text-align: center;
    }
    .about--text p {
        padding-top: 20px;
        text-align: center;
    }
    @media (max-width: 720px) 
    {
        .lab__about {
            height: 480px;  
        }
      .about--head {
          font-size: 23px;
          letter-spacing: 2px;
          } 
          .about--text {
              font-size: 10px;
              
              line-height: 18px;  
          }
  
  }

    .lab__services {
        margin: auto;
        width:100%;
    max-width: 1920px;
        height: 488px;
        padding-top: 4%;
        background-image: url(Foto/services.jpg.png);
        background-position: center;
        background-repeat: no-repeat;
        /* display: flex;
    flex-direction: column;
    align-self: center;
    align-items:center;
    justify-content: center; */
    }
    .services {
        /* margin-top: 128px; */
        margin: auto;
        width: 80%;
       
        color: #ffffff;
        /* display: flex;
    flex-direction: column;
    align-self: center;
    align-items:center; */
    border:2px solid #ffffff;
        }
   
    .services--head {
     
        width: 52%;
        font-size: 34px;
        letter-spacing: 5px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Lato";
        text-align: center;
        }
        .services--text {
        margin-top: 30px;
        width: 90%;
        padding: 30px 30px;
        font-size: 16px;
        line-height: 26px;
        color: #ffffff;
        font-weight: 300;
        font-family: "Lato";
        text-align: center;
          }
          @media (max-width: 720px) 
          {
            .lab__services {
               
                height: 388px;
            }
            .services--head {
                font-size: 23px;
                letter-spacing: 2px;
                } 
                .services--text {
                    font-size: 10px;
                    line-height: 18px;  
                }
        
        }

.lab__what {
            margin: auto;
            width:100%;
    max-width: 1920px;
            height: 1415px;
            padding-top: 5%;
            background-color: #FFFFFF;
            /* display: flex;
        flex-direction: column;
        align-self: center;
        align-items:center;
        justify-content:space-around; */
        }
.what {
    margin: auto;
            width: 80%;
            font-size: 14px;
            line-height: 26px;
            color: #3c3c3c;
            font-weight: 300;
            font-family: "Lato";
            text-align: center;
            /* display: flex;
        flex-direction: column;
        align-self: center;
        align-items:center; */
        border: 2px solid #3c3c3c;
            }
            .what--head {
                width: 52%;
                font-size: 34px;
                letter-spacing: 5px;
                color: #3c3c3c;
                font-weight: 700;
                font-family: "Lato";
                text-align: center;
                
                }

                .what--text {
                    padding: 30px 30px;
                    width: 90%;
                    font-size: 16px;
                    line-height: 26px;
                    color: #3c3c3c;
                    font-weight: 300;
                    font-family: "Lato";
                    text-align: center;
                    /* display: flex;
        flex-direction: column;
        align-self: center;
        align-items:center;
        justify-content:space-around; */
        
                     }
                     .what__text--head {
                        font-size: 20px;
                        letter-spacing: 3px;
                        color: #3c3c3c;
                        font-weight: 700;
                        font-family: "Lato";
                        text-align: center;
                        }
    .what--text div {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    @media (max-width: 720px) 
    {
        .lab__what {
         
            height: 1350px;
        }
      .what--head {
          font-size: 23px;
          letter-spacing: 2px;
          } 
          .what--text {
              font-size: 10px;
              line-height: 18px;  
          }
  
  }
    .lab__works {
        margin: auto;
        width:100%;
        max-width: 1920px;
        height: 485px;
        background-color: #FFFFFF;
     
        /* display: flex;
        flex-wrap: wrap;
        align-self: center;
        align-items:center;
        align-content:space-between;
        justify-content:space-between; */
           }
           .works--img4, .works--img6, .works--img5 {
            margin-top: 10px;
           }
/* .works--img1, .works--img3, .works--img4, .works--img6 {
   
   width:25%;
    height: 236px;
   margin-top: 10px;
   padding-left: 50px;
   }    */
   .works--img1, .works--img2, .works--img3, .works--img4, .works--img5, .works--img6 {
    /* width:50%; */
    /* height: 236px; */
    padding-top: 170px;
    padding-left: 100px;
   }
   .works__img--text {
    /* margin-top: 170px;
    margin-left: 50px; */
    font-size: 34px;
letter-spacing: 5px;
color: #ffffff;
font-weight: 700;
font-family: "Lato";
   }
.works--img1 {
    background-image: url(Foto/Layer1.png);
    background-position: center;
        background-repeat: no-repeat;
}
.works--img2 {
    background-image: url(Foto/Layer2.png);
    background-position: center;
        background-repeat: no-repeat;
}
.works--img3 {
    background-image: url(Foto/Layer3.png);
    background-position: center;
        background-repeat: no-repeat;
}
.works--img4 {
    background-image: url(Foto/Layer4.png);
    background-position: center;
        background-repeat: no-repeat;
        
}
.works--img5 {
    background-image: url(Foto/Layer5.png);
    background-position: center;
        background-repeat: no-repeat;
}
.works--img6 {
    background-image: url(Foto/Layer6.png);
    background-position: center;
        background-repeat: no-repeat;
}
.lab__contact {
    margin: auto;
    width:100%;
    max-width: 1920px;
    height: 600px;
    background-color:#ffffff ;
    display: flex;
flex-direction: column;
align-self: center;
align-items:center;
justify-content: center;
}
.contact__container {
    width: 900px;
    height: 290px;
   display: flex;
flex-direction: column;
align-self: center;
align-items:center;
border: 2px solid #3c3c3c;
}
.contact__container--head {
    width: 500px;
    font-size: 34px;
    letter-spacing: 5px;
    color: #3c3c3c;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
}
    .contact__container--text {
        margin-top: 60px;
        width: 540px;
        font-size: 16px;
line-height: 26px;
color: #3c3c3c;
font-weight: 300;
font-family: "Lato";
text-align: center;
}
    .contact--button {
        margin-top: 40px;
        width: 400px;
        height: 60px;
        background-color: #3C3C3C;
        font-size: 16px;
letter-spacing: 3px;
color: #ffffff;
font-weight: 400;
font-family: "Lato";
text-align: center;
}  
    .contact--footer  {
        margin-top: 60px;
        width: 316px;
        height: 40px;
        
        font-size: 14px;
color: #3c3c3c;
font-weight: 400;
font-family: "Lato";
display: flex;
align-self: center;
align-items:center;
justify-content:space-between;
}
